@mixin glass($opacity: 0.1) {
  background-color: rgba(255, 255, 255, $opacity);
  backdrop-filter: blur(5px);
  box-shadow: inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7),
              inset 0 0 3px 1px rgba(255, 255, 255, 0.7);
}

@mixin font-smooth() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin focus-ring($color: oklch(0.708 0 0)) {
  outline: 2px solid rgba($color, 0.4);
  outline-offset: 2px;
}
